@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    /*background-image:url("../imagens/fundo.jpg");*/
}

a{
    cursor: pointer;
}


.container{
    display: flex;
    background-color:#17171a;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    font-family: 'Sarala', sans-serif;
    color:rgb(255, 255, 255);
    font-weight: 450;
    font-size: 18px;
}

.cabecalho {
    padding: 24px;
    position: absolute;
    top:0;
    left: 0;
}

.number {
    color: #ffff;
}

.cabecalho-imagem {
    height: 92px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color:rgb(255, 255, 255);
    font-weight: 450;
    font-size: 18px;
}
.cabecalho-menu-item:hover{

    color:rgb(211, 211, 211);
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    background-image: url(../imagens/fundo.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 200px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    color:#ffff;
    font-weight: 400;
    font-size: 64px;
    margin-top: 55px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Roboto', sans-serif; 
    color:#ffff;
    font-weight: 450;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background-color:rgb(216, 55, 55);;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;

}
.conteudo-principal-escrito-botao:hover{
    background-color:rgb(253, 103, 103);
}

.conteudo-principal-imagem {
    height: 450px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #6a6a6a;
    padding-top: 18px;
    font-family: 'Righteous', cursive;
    color:#0a0a0a;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Roboto', sans-serif;
    color:#6a6a6a;
    font-weight: 300;
    font-size: 18px;
}

.fundo {
    background-color: aqua;
}

.conteudo-delivery {
    background-image: url(../imagens/back_lanche.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
}

.conteudo-delivery-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 18px;
    font-family: 'Righteous', cursive;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    margin-top: 43px;
}

.conteudo-delivery-paragrafo {
    font-family: 'Roboto', sans-serif;
    color:#ffff;
    font-weight: 300;
    font-size: 18px;
}

.conteudo-delivery-subtitulo {
    font-family: 'Roboto', sans-serif;
    color:#ffff;
    font-weight: 300;
    font-size: 14px;
}

.conteudo-delivery-botao {
    background-color:rgb(216, 55, 55);;
    width: 210px;
    height: 35px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 6%;

}
.conteudo-delivery-botao:hover{
    background-color:rgb(253, 103, 103);
}

.rodape {
    display: flex ;
    background-color: #2b2a2a;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    border-top: 0.4px solid #FFF2E7;
    
}

.rodape-titulo{
    
    font-family: 'Sarala', sans-serif;
    color:rgb(255, 255, 255);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 15px;
}

.rodape-paragrafo {
    font-family: 'Sarala', sans-serif;
    color:#ffff;
    font-weight: 300;
    font-size: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.rodape-imagem{
    cursor: pointer;
}

